body{
  background-color: rgba(0, 0, 0, 0.274);
}

.link-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.link{
  width: auto;
  background-color: black;
  color: yellow;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.link a,
.link a:visited,
.link a:active{
  text-decoration: none;
  color: inherit;
}
