.todo-list{
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  box-shadow: 2px 2px 5px black;
  padding: 10px 5px 10px 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.425);
  color: rgba(255, 255, 255, 0.712);
}

.todo-name{
  padding: 5px 3px 5px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.384);
  color: white;
}

.todo-name::placeholder{
  color: rgba(255, 255, 255, 0.514);
}

.todo-date{
  padding: 5px 3px 5px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.384);
  color: rgba(255, 255, 255, 0.726);
}

.add-btn{
  color: white;
  background-color: green;
  border: none;
  padding: 5px 8px;
  border-radius: 6px;
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.37);
  margin-left: 10px;
  cursor: pointer;
}

.add-btn:active{
  padding: 4.5px 7.5px;
  box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.37);
}

.heading{
  margin-bottom: 20px;
}

.lists{
  margin-top: 20px;
  box-shadow: inset 2px 2px 5px black;
  border-radius: 20px;
}

.todo{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
}

.lists .name{
  width: 180px;
}
.lists .date{
  margin-right: 10px;
  width: 108px;
}
.lists .btn button{
  color: white;
  background-color: red;
  border: none;
  padding: 5px 8px;
  border-radius: 6px;
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.37);
  cursor: pointer;
}

.lists .btn button:active{
  padding: 4.5px 7.5px;
  margin: 0.5px;
  box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.37);
}